* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .layout {
    height: 100vh;
    outline: 4px solid #ffc7d4;
  }
  
  div, header, aside, footer {
    min-height: 100px;
  }
  
  .scheme1 {
    background-color: #000000;
  }
  
  .scheme1-1 {
    background-color: #000000;
  }
  
  .scheme1-2 {
    background-color: rgb(249,223,49);;
  }
  
  .scheme1-3 {
    background-color: #000000;
  }
  
  .three-cols {
    display: grid;
    grid-template-columns: repeat(3, auto);
  }
  
  .fill-height {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  .auto-responsive-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
  }
  
  .responsive-sidebar {
    display: grid;
    grid-template-areas:
            "header "
            "content"
            "sidebar"
            "footer";
    grid-template-rows: auto 2fr 1fr auto;
  }
  
  @media only screen and (min-width: 768px) {
    .responsive-sidebar {
    grid-template-areas:
            "header header"
            "sidebar content"
            "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 250px 1fr;
    }
  }
    
  @media only screen and (min-width: 1024px) {
    .responsive-sidebar {
    grid-template-areas:
            "header header header"
            "content content sidebar"
            "footer footer footer";
    grid-template-columns: auto;
    }
  }
  
  .header {
    grid-area: header;
  }
  
  .content {
    grid-area: content;
  }
  
  .footer {
    grid-area: footer;
  }


